<!-- 
     @author: Matteo Caruso
     @email: matteo.caruso@phd.units.it
     @email: matteo.caruso1993@gmail.com
 -->

<launch>

    <arg name="use_joystick" default="false"/>
    <arg name="use_keyboard" default="true"/>
    <arg name="include_terrain_slip_plugin" default="false"/>
    <arg name="neural_network_model" default="best_bagging_all_wheels"/>
    <arg name="world_name" default="only_walls.world"/>
    <arg name="rocker_differential" default="true"/>

    <arg name="p38_env" default="/home/ros/p38Venv/bin/python3.8"/>

    <include file="$(find robot4ws_simulations)/launch/archimede_gazebo_simulation_with_kinematics.launch">
        <arg name="include_terrain_slip_plugin" value="$(arg include_terrain_slip_plugin)"/>
        <arg name="neural_network_model" value="$(arg neural_network_model)"/>
        <arg name="rocker_differential" value="$(arg rocker_differential)"/>
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="p38_env" value="$(arg p38_env)"/>
    </include>


    <group if="$(arg use_joystick)">
        <include file="$(find robot4ws_teleop_joystick)/launch/controller.launch"/>
    </group>


    <group if="$(arg use_keyboard)">
        <include file="$(find robot4ws_teleop_keyboard)/launch/teleop.launch">
            <arg name="env" value="$(arg p38_env)"/>
        </include>
    </group>


</launch>
